section {
    display:grid;
    grid-template-columns: minmax(1fr, 75rem);
    padding: 2rem 0;
    place-items: center;
    margin: 3rem 0;
}

section.alternate-color {
    background-color: $brand-color;
    color: $text-color-negative;
}

section.light-color {
    background-color: $section-light-color;
}

@media(min-width: 900px) {
    section {
        grid-template-columns: [full-start] auto [text-start] 45rem [text-end image-start] 30rem [image-end] auto [full-end];
        .text-description {
            grid-column: text;
        }

        .image {
            grid-column: image;
        }
    }

    section.text-only {
        grid-template-columns: [full-start] auto [text-start] 75rem [text-end] auto [full-end];
    }

    section:nth-child(2n) {
        direction: rtl;
    }
}
