---
layout: default
---

<section class="top-section">
    <div class="text-description">
        <h1>{{ page.title }}</h1>

        {{ content }}
    </div>
    <figure class="image">
        <picture>
            <img src="{{page.image}}" alt="A new retreat center"/>
        </picture>
    </figure>
</section>

{% for section in site.homepage_sections %}
<section class="{{ section.class }}{% unless section.image %} text-only{% endunless %}">
    <div class="text-description">
    <h2>{{ section.title }}</h2>
    {{ section.content | markdownify }}
    </div>
    {% if section.image %}
    <figure class="image">
        <picture>
            <img src="{{section.image}}" alt="{{section.image_description}}"/>
        </picture>
    </figure>
    {% endif %}
</section>
{% endfor %}
